@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RoxboroughCF';
    src: url('./fonts/Roxborough CF.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }


.navbar-option{
    font-size: 21px;
    font-family: 'RoxboroughCF',serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-title{
    font-size: 24px;
}

.content{
    padding-top: 119px;
}